.card {
  width: 100%;
  max-width: 28rem;
  margin-left: auto;
  margin-right: auto;
  padding-top: 2rem;
}

.title {
  text-align: center;
  font-size: 1.25rem;
  line-height: 1.75rem;
  color: white;
}

.buttonContainer {
  display: flex;
  gap: 1rem;
  margin-bottom: 1.5rem;
  justify-content: center;
}

.button {
  flex: 1;
  max-width: 10rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
}

.startButtonContainer {
  display: flex;
  justify-content: center;
}
