.app {
  min-height: 100vh;
  background: linear-gradient(to top, #09203f 0%, #537895 100%);
  padding: 2rem 1rem;
}

.container {
  max-width: 64rem;
  margin: 0 auto;
}

.menuButtonContainer {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 1rem;
}

.gameWrapper {
  margin-bottom: 1rem;
}

.gameHistory {
  margin-top: 1rem;
}

h1 {
  font-size: 2.25rem;
  font-weight: 700;
  text-align: center;
  color: white;
  margin-bottom: 2rem;
}
